body {
    padding-top: 0px; /* 헤더 높이만큼 여백 추가 */
    font-family: 'Gowun Batang', serif;
    background-color: #f5f5f5;
    margin: 0;
    height: 100vh;
    text-align: center;
}

input[type="text"] {
    border: none; /* 테두리 제거 */
    display: flex; /* Flexbox 레이아웃 사용 */
    text-align: center; /* 텍스트 가운데 정렬 */
    /* 추가 스타일 (예: padding, font-size, background-color 등) */
}

input[type="text"]::placeholder {
    text-align: center; /* 가운데 정렬 */
    /* 추가적으로 필요한 스타일 (예: 색상, 글꼴 등) */
}

.container-chat {
    max-width: 480px;
    padding: 5px;
    background-color: #fff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    position: fixed; /* 컨테이너를 고정 위치에 배치 */
    bottom: 60px; /* 하단에서 40px 위에 위치 */
    left: 0; /* 왼쪽 정렬 */
    right: 0; /* 오른쪽 정렬 */
    z-index: 1000; /* 다른 요소들 위에 표시 */
    display: flex; /* Flexbox 레이아웃 적용 */
    justify-content: space-between; /* 내부 요소들을 양쪽 끝으로 정렬 */
}

.copyright {
    margin-top: 20px;
    font-size: 14px;
    color: #777;
    position: fixed; /* 컨테이너를 고정 위치에 배치 */
    bottom: 20px; /* 하단에서 40px 위에 위치 */
    left: 0; /* 왼쪽 정렬 */
    right: 0; /* 오른쪽 정렬 */
    z-index: 1000; /* 다른 요소들 위에 표시 */
}

.copyright a {
    text-decoration: none;
    color: #777;
}

.copyright a:hover {
    text-decoration: underline;
}

.center-container {
    display: flex; /* Flexbox 레이아웃 사용 */
    justify-content: center; /* 수평 중앙 정렬 */
    align-items: center; /* 수직 중앙 정렬 */
    height: 100vh; /* 뷰포트 높이에 맞춤 */
}

.container-student {
    max-width: 720px;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    text-align: center;
    margin-top: 20px;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#studentList {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

student-button {
    padding: 15px 20px;
    width: 90px; /* 수정된 너비 */
    background-color: #3498db;
    color: #fff;
    border: none;
    cursor: pointer;
    margin: 5px;
    display: inline-block; /* Display buttons in a row */
    border-radius: 5px; /* Rounded corners */
}

student-button:hover {
    background-color: #FF4F4F; /* Darker background color on hover */
}

.container-blank {
    max-width: 720px;
    padding: 20px;
    background-color: #f5f5f5;
    border-radius: 5px;
    text-align: center;
    margin-top: auto;
    margin-left: auto;
    margin-right: auto;
}

#gameDescription {
    width: 30%;
    padding: 10px;
    margin: 0px auto;
}

#studentName {
    width: 56.5%;
    padding: 10px;
    margin-right: 10px;
}

button {
    padding: 10px 15px;
    background-color: #3498db;
    white-space: nowrap; /* 텍스트를 한 줄로 유지 */
    overflow: hidden; /* 넘치는 텍스트 숨김 */
    color: #fff;
    border: none;
    cursor: pointer;
    margin: 0px;
    border-radius: 5px; /* Rounded corners */
}

button:hover {
    background-color: #1e7ac9; /* 호버 시 배경색 변경 */
    color: #fff; /* 호버 시 글자색 변경 (옵션) */
    /* 여기에 추가적인 호버 스타일을 추가할 수 있습니다. 예: border, box-shadow 등 */
}

button.undo-button {
    background-color: #e74c3c;
}


/* 플로팅 버튼 스타일 */
#floatingButton {
    position: fixed; /* 고정 위치 */
    bottom: 20px;    /* 아래에서 20px */
    right: 20px;     /* 오른쪽에서 20px */
    width: 50px;     /* 너비 */
    height: 50px;    /* 높이 */
    padding: 0;      /* 안쪽 여백 없음 */
    font-size: 24px; /* 글자 크기 */
    border: none;    /* 테두리 없음 */
    border-radius: 50%; /* 원형 버튼 */
    background-color: #0056b3; /* 변경된 배경색 */
    color: white; /* 글자색 */
    cursor: pointer; /* 커서 모양 */
    display: flex;   /* 플렉스 박스 */
    align-items: center; /* 수직 중앙 정렬 */
    justify-content: center; /* 수평 중앙 정렬 */
}

/* 버튼 호버 효과 */
#floatingButton:hover {
    background-color: #003875; /* 호버 시 더 어두운 색상 */
}

/* Enhanced Floating Header Style */
.floating-header {
    top: 0;
    left: 0;
    right: 0;
    background-color: #3498db; /* Vibrant blue background */
    color: white;
    padding: 15px 30px; /* Increased padding for more space */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3); /* Subtle shadow effect */
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    font-size: 26px; /* Larger size for emphasis */
    font-weight: bold;
    cursor: pointer; /* Indicates the logo is interactive */
}

.nav-menu {
    display: flex;
    align-items: center; /* Vertically align menu items */
}

.nav-item {
    margin-left: 25px; /* Spacing between menu items */
    padding: 8px 12px; /* Padding for a button-like appearance */
    text-decoration: none;
    color: white;
    font-size: 16px;
    border-radius: 4px; /* Rounded corners for a modern look */
    transition: background-color 0.3s, color 0.3s; /* Smooth transition for hover effects */
}

.nav-menu button {
    min-width: 80px; /* 버튼의 최소 너비 설정 */
    white-space: nowrap; /* 텍스트를 한 줄로 유지 */
    overflow: hidden; /* 넘치는 텍스트 숨김 */
    text-overflow: ellipsis; /* 넘치는 텍스트 대신 말줄임표 표시 */
    margin-left: 10px; /* 버튼 간격 조정 */
}

.nav-menu input[type="text"] {
    min-width: 150px; /* 입력 필드의 최소 너비 설정 */
    margin-left: 10px; /* 입력 필드 간격 조정 */
}

.nav-menu input[type="file"] {
    min-width: 90px; /* 파일 입력 필드의 최소 너비 설정 */
    margin-left: 10px; /* 파일 입력 필드 간격 조정 */
}

.nav-item:hover {
    background-color: #1e7ac9; /* Darker blue on hover for contrast */
    color: #fff;
}
